* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-size: 1.75rem;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

.quote-container {
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    width: 600px;
    height: 350px;
    max-height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-text {
    color: hsl(193, 38%, 86%);
    font-weight: 800;
    padding: 10px 50px;
    height: 200px;
}

.quote-number {
    color: hsl(150, 100%, 66%);
    font-size: 0.6rem;
    font-weight: bold;
    letter-spacing: 0.1cm;
    padding-top: 30px;
}

.dice-wrapper {
    background-color: hsl(193, 38%, 86%);
    border: none;
    width: 60px;
    height: 60px;
    margin: 20px auto;
}

.dice-wrapper:hover {
    cursor: pointer;
    background-color:hsl(150, 100%, 66%);
    box-shadow:
    0 0 30px 5px hsl(150, 100%, 66%);
}

.dice-wrapper:focus {
    outline: none;
}

.dice-wrapper:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

